<form class="options-form" [formGroup]="bookParent.firstFormGroup">
  <mat-form-field>
    <mat-label>Choose a service</mat-label>
    <mat-select required>
      @for (group of serviceGroups; track group) {
      <mat-optgroup [label]="group.name">
        @for (service of group.services; track service.id) {
        <mat-option [value]="service.id">{{ service.name }} {{ service.price }}</mat-option>
        }
      </mat-optgroup>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a stylist</mat-label>
    <mat-select value="123" required>
      @for (stylist of stylists; track stylist.id) {
      <mat-option [value]="stylist.id">{{ stylist.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      placeholder="Click the calendar ->"
      [min]="minDate"
      [max]="maxDate"
      [matDatepicker]="picker"
      formControlName="date"
      required
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="btn-div">
    <button matButton="filled" matStepperNext>Next</button>
  </div>
</form>
