:root {
  --top-band: clamp(120px, 20svh, 240px);
}

header {
  height: 1000px;
  position: relative;
  background-color: var(--mat-sys-primary-container);
}

.header-text {
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--mat-sys-on-primary-container);
}

.header-text h1 {
  font-weight: 500;
  margin-bottom: 0;
}

.header-text h2 {
  font-weight: 300;
}

.header-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 55%;
}

.header-img img {
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.intro {
  display: flex;
  margin: 50px 0;
}

.intro-item {
  margin: 0 12px;
  color: var(--mat-sys-on-surface-variant);
}

mat-divider {
  width: 100%;
  max-width: 1000px;
}

.stylists {
  margin-top: 50px;
  max-width: 1000px;
}

.stylists > div {
  display: flex;
  align-items: center;
}

figcaption {
  font-size: .7rem;
  line-height: .6125;
  color: var(--mat-sys-on-surface-variant);
}

figcaption > a {
  font-size: .7rem;
  text-decoration: none;
  color: var(--mat-sys-on-primary-container);
}